html {
    font-size: calc(16px + 0.5vw);
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

div {
    display: inline-block;
    position: fixed;
}

.px {
    width: 200px;
    height: 200px;
    background-color: pink;
    font-size: 16px;

}

.rem {
    width: 5rem;
    height: 5rem;
    background-color: lightcoral;
    font-size: 1rem;
    left: 240px;
}

.vw {
    width: 15vw;
    height: 15vw;
    background-color: rgb(238, 154, 235);
    font-size: 2vw;
    left: 670px;
}

.em {
    background-color: lightsalmon;
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
}

/* .em-father {
    width: 300px;
    height: 300px;
    background-color: orange;
}

.em-child {
    width: 200px;
    height: 200px;
    background-color: yellow;
    font-size: 2em;
} */